fastapi
python-multipart
uvicorn
# Background Remover Libs
rembg
pillow
# Upscaler Libs
numpy
opencv-python-headless
# Torch aur RealESRGAN (GPU support ke liye)
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
realesrgan
# Seo writers
google-generativeai
pydantic
python-dotenv